.sidebar{
    position: fixed;
    left: 0;
    top: 75px;
    bottom: 0;
    background-color: white;
    width: 90px;
    z-index: 200;
}

.sidebar-link{
    height: 90px;
    margin-bottom: 3px;

}

.sidebar-link:hover{
    background-color: rgb(235 235 235);
}

.sidebar-link img{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 4px;

}

.sidebar-link div{
      font-size: 13px;
}